@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins&display=swap');

body {
    background: rgb(184, 187, 197);
    background: linear-gradient(90deg, rgb(184, 187, 197, 1) 0%, rgba(215, 214, 209, 1) 50%, rgb(248, 233, 224) 100%);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgb(97, 100, 114);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 160px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 68px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.795);
    margin: 0;
}

h7 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    font-style: italic;
    color: rgba(72, 74, 80, 0.87);
    margin: 0;
}

.header-transparent {
    opacity: 0.5;
}

.header-container {
    width: 100%;
    height: 75px;
    top: 0px;
    position: fixed;
    z-index: 1;
    background: rgb(184, 187, 197);
    background: linear-gradient(90deg, rgb(184, 187, 197, 1) 0%, rgba(215, 214, 209, 1) 50%, rgb(248, 233, 224) 100%);
}

.icon-container {
    display: inline-block;
    margin-left: 3%;
    top: 0px;
}

.navi-container {
    margin-right: 3%;
    float: right;
    text-align: right;
    top: 0px;
}

.navi-node {
    text-align: center;
    margin-top: 15%;
    display: inline-block;
    margin: 20px;
    padding: 5px;
}

.intro-container {
    position: relative;
    top: 20%;
    margin: 3%;
}

.about-container {
    position: relative;
    margin: 3%;
}

.skills-container {
    position: relative;
    display: inline-block;
    margin: 3%;
}

#languages-container {
    /* display: inline-block; */
    /* width: 600px; */
    width: 40%;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    /* height: 300px; */
}

#tools-container {
    /* display: inline-block; */
    width: 40%;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    /* height: 300px; */
}

progress {
    background-color: rgb(64, 72, 87);
    width: 200px;
    height: 20px;
}

.projects-container {
    margin: 3%;
    margin-top: 77px;
    position: relative;
}

.project-block {
    background-color: rgba(61, 61, 61, 0.678);
}

.contact-container {
    top: 77px;
    right: 0px;
    float: right;
    text-align: right;
    width: 10%;
}

.project-row {
    position: relative;
}

tr {
    height: 350;
    padding: 5;
    border-spacing: 50;
}

td {
    background-color: rgba(162, 166, 179, 0.24);
    margin: 20px;
    padding: 5px;
    width: 30%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

project-table {
    border-spacing: 10px;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.shrink:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.border:hover {
    box-shadow: inset 0 0 0 25px rgba(53, 58, 71, 0.5);
}

.icon {
    margin-top: 15%;
    display: inline-block;
    padding: 5px;
}

.center {
    left: 50%;
}

.node-blocks {
    margin: 20px;
}

#intro {
    height: 100%;
    top: 77px;
}

#about {
    height: 50%;
    top: 77px;
}

#skills {
    height: 50%;
    top: 77px;
}

#projects {
    height: 155%;
    margin-top: 77px;
}

#quickchess {
    background: url("../img/quickchess.png");
    opacity: 0.9;
    background-size: 100% 110%;
    background-position: left bottom;
}

#fact-checker {
    background: url("../img/fact-checker.png");
    background-color: rgba(34, 34, 34, 0.411);
    opacity: 0.9;
    background-size: 100% 90%;
    background-position: left bottom;
}

#cactus-climber {
    background: url("../img/cactus-climber.png");
    background-color: rgba(34, 34, 34, 0.411);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 105% 100%;
    background-position: left;
}

#block-game {
    background: url("../img/greyblock.png");
    background-color: rgba(34, 34, 34, 0.411);
    opacity: 0.9;
    background-size: 100% 100%;
    background-position: middle;
}

#top-button {
    /* position: relative; */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
    background-color: rgba(124, 135, 148, 0.582);
    border: none;
    color: white;
    text-align: center;
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 3%;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
