@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins&display=swap');

body {
    background: url("../img/background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* position: fixed; */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgb(26, 28, 36);
}

a {
    text-decoration:none;
    color: rgb(177, 165, 147);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 160px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.intro-container {
    position: relative;
    top: 23%;
    margin: 3%;
    /* left: 3%; */
}

.navi-container {
    position: fixed;
    top: 0px;
    right: 0px;
    float: right;
    text-align: right;
}

.content {
    /* margin-top: 77px; */
}

.navi-node {
    background-color: rgba(0, 0, 0, 0.068);
    text-align: center;
    margin-top: 15%;
    display: inline-block;
    margin: 20px;
    padding: 5px;
}

.about-container {
    /* position: relative; */
    margin: 3%;
    margin-top: 77px;
    /* overflow: auto; */
}

.projects-container {
    margin: 3%;
    margin-top: 77px;
    /* position: relative; */
    text-align: center;
}

.contact-container {
    /* position: fixed; */
    top: 77px;
    right: 0px;
    float: right;
    text-align: right;
    width: 10%;
}

.project-block {
    background-color: rgba(0, 0, 0, 0.24);
    text-align: left;
    margin-top: 15%;
    display: inline-block;
    margin: 20px;
    padding: 5px;
    width: 20%;
}

.icon-container {
    position: fixed;
    top: 89%;
    right: 0px;
    float: right;
    margin: 10px;
    /* text-align: right; */
}

.icon {
    margin-top: 15%;
    display: inline-block;
    padding: 5px;
}

.center {
    left: 50%;
}

.node-blocks {
    margin: 20px;
}

#intro {
    height: 100%;
    top: 77px;
}
#about {
    height: 100%;
    top: 77px;
}
#projects {
    height: 100%;
    margin-top: 77px;
}
#contact {
    height: 100%;
    margin-top: 77px;
}

#particles-js {
    background: url("../img/background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
