@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins&display=swap');

body {
    /* background: url("../img/background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* position: fixed; */
    background: rgb(184, 187, 197);
    background: linear-gradient(90deg, rgb(184, 187, 197,1) 0%, rgba(215,214,209,1) 56%, rgba(230,224,203,1) 100%);
    /* position: fixed; */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgb(97, 100, 114);
}

a {
    text-decoration:none;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 160px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 68px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.795);
    margin: 0;
}

h7 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    font-style: italic;
    color: rgba(72, 74, 80, 0.87);
    margin: 0;
}

.header-transparent {
    opacity: 0.5;
}

.header-container {
    width: 100%;
    height: 75px;    
    top: 0px;
    position: fixed;
    z-index: 1;
    background: rgb(184, 187, 197);
    background: linear-gradient(90deg, rgba(184, 187, 197,1) 0%, rgba(215,214,209,1) 56%, rgba(230,224,203,1) 100%);
}

.icon-container {
    display: inline-block;
    margin-left: 3%;
    top: 0px;
}

.navi-container {
    margin-right: 3%;
    float: right;
    text-align: right;
    top: 0px;
}

.navi-node {
    /* background-color: rgba(0, 0, 0, 0.068); */
    text-align: center;
    margin-top: 15%;
    display: inline-block;
    margin: 20px;
    padding: 5px;
}
/* 
.content {
    position: relative;
    top: 77px;
} */

.intro-container {
    position: relative;
    top: 20%;
    margin: 3%;
    /* left: 3%; */
}

.about-container {
    position: relative;
    margin: 3%;
}

.skills-container {
    position: relative;
    margin: 3%;
}

/* .skill-block {
    width: 200px;
    height: 60px;
} */

#languages-container {
    display: inline-block;
    width: 50%;
    height: 300px;
}

#tools-container {
    display: inline-block;
    width: 50%;
    height: 300px;
}

.projects-container {
    margin: 3%;
    margin-top: 77px;
    position: relative;
    /* text-align: center; */
}

.project-block {
    background-color: rgba(61, 61, 61, 0.678);
}

.contact-container {
    /* position: fixed; */
    top: 77px;
    right: 0px;
    float: right;
    text-align: right;
    width: 10%;
}

.project-row {
    position: relative;
}

tr {
    height: 350;
    padding: 5;
    border-spacing: 50;
}

td {
    background-color: rgba(162, 166, 179, 0.24);
    margin: 20px;
    padding: 5px;
    width: 30%;
}

.grow:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.shrink:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.border:hover {
        box-shadow: inset 0 0 0 25px  rgba(53, 58, 71, 0.5);
}

.icon {
    margin-top: 15%;
    display: inline-block;
    padding: 5px;
}

.center {
    left: 50%;
}

.node-blocks {
    margin: 20px;
}

#intro {
    height: 100%;
    top: 77px;
}
#about {
    height: 40%;
    top: 77px;
}
#skills{
    height: 35%;
    top: 77px;
}
#projects {
    height: 100%;
    margin-top: 77px;
}

#quickchess {
    background: url("../img/quickchess.png");
    opacity: 0.9;
    background-size: 100% 110%;
    background-position: left bottom;
}

#fact-checker {
    background: url("../img/fact-checker.png");
    background-color: rgba(34, 34, 34, 0.411);
    opacity: 0.9;
    background-size: 100% 110%;
    background-position: left bottom;
}

#block-game {
    background: url("../img/greyblock.png");
    background-color: rgba(34, 34, 34, 0.411);
    opacity: 0.9;
    background-size: 100% 110%;
    background-position: middle;
}
/* #particles-js {
    background: url("../img/background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */
